PORT=5000
MONGO_URL=mongodb+srv://rjorgewar:<LUuzuhg1Y5GwXh57>@cluster0.p6hhvxc.mongodb.net/?retryWrites=true&w=majority
CLIENT_URL=YOUR_CLIENT_SIDE_URL

ACCESS_TOKEN_SECRET=DUhxdx183)_--aACN#2%
REFRESH_TOKEN_SECRET=17hdjcD7ud(-*&732~
ACTIVATION_TOKEN_SECRET=kc81i^&%`-Did##1Z

GOOGLE_CLIENT_ID=3392348929324-tarur228dxxx
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxx
MAIL_REFRESH_TOKEN=1//028dhdjBMudu2829xxx
MAIL_SENDER_ADDRESS=example@gmail.com
