PORT="PORT"
MONGO_URL="url"
CLIENT_URL=YOUR_CLIENT_SIDE_URL

ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
ACTIVATION_TOKEN_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MAIL_REFRESH_TOKEN=""
MAIL_SENDER_ADDRESS=example@gmail.com

add values to all above fields using your own data
